<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>rating</key>
		<real>5</real>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>224</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>232</integer>
		</dict>
		<key>mark</key>
		<string>Lamborgini</string>
		<key>model</key>
		<string>Murcielago</string>
		<key>lastStarted</key>
		<date>2019-11-08T18:15:24Z</date>
		<key>imageName</key>
		<string>lamborginiMurcielago.png</string>
		<key>timesDriven</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>rating</key>
		<real>5</real>
		<key>myChoice</key>
		<true/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>31</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>232</integer>
		</dict>
		<key>mark</key>
		<string>Ferrari</string>
		<key>model</key>
		<string>Enzo</string>
		<key>lastStarted</key>
		<date>2019-11-07T18:15:24Z</date>
		<key>imageName</key>
		<string>ferrariEnzo.png</string>
		<key>timesDriven</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>rating</key>
		<real>5</real>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>138</integer>
		</dict>
		<key>mark</key>
		<string>BMW</string>
		<key>model</key>
		<string>X6</string>
		<key>lastStarted</key>
		<date>2019-10-12T18:15:24Z</date>
		<key>imageName</key>
		<string>bmwX6.png</string>
		<key>timesDriven</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>rating</key>
		<real>5</real>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>19</integer>
			<key>blue</key>
			<integer>94</integer>
			<key>red</key>
			<integer>0</integer>
		</dict>
		<key>mark</key>
		<string>Mercedes</string>
		<key>model</key>
		<string>GL</string>
		<key>lastStarted</key>
		<date>2019-09-12T18:15:24Z</date>
		<key>imageName</key>
		<string>mercedesGL.png</string>
		<key>timesDriven</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>rating</key>
		<real>5</real>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>0</integer>
		</dict>
		<key>mark</key>
		<string>Nissan</string>
		<key>model</key>
		<string>Patrol</string>
		<key>lastStarted</key>
		<date>2019-10-10T18:15:24Z</date>
		<key>imageName</key>
		<string>nissanPatrol.png</string>
		<key>timesDriven</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
